body {
    margin: 0px
}

nav {
    margin: 0px;
    padding: 10px
}

.barstyl {
    background-color: black;
    color: black;
}

.textstyl {
    font-size: 20px;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    
}

.aligndiv {
    text-align: right;
    margin: 5px;
    margin-right: 200px;
    margin-top: -20px;
}

.sdiv {
    background-color: blue;
    height: 200px;
    width: 100%;
}

.sp {
    color: antiquewhite;
    font-size: 40px
}

.spp {
    margin: -40px;
    color: antiquewhite;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 200px;
    margin-left: 200px
}

li {
    text-align: left;
    margin: 5px;
}